@model ProductPageViewModel
<div class="card"name="card"  data-RoomtypeValue="@Model.RoomType"data-RoomtypeValue2="@Model.RoomType2"data-RoomtypeValue3="@Model.RoomType3" data-SquareValue="@Model.Squarefeet" data-SquareValue2="@Model.Squarefeet2" data-SquareValue3="@Model.Squarefeet3"data-Serviceitem="@Model.ServiceItem">
    <div class="pic" >
        <div class="img">
            <img src="https://i.imgur.com/@Model.PhotoUrl">
        </div>
        <div class="icon-area">
            <button class="plus" name="cartbtn" id="@Model.PackageProductId"><i class="fas fa-plus"></i></button>
            <a href="/Detail/Index/@Model.PackageProductId" class="search"><i class="fas fa-search"></i></a>
        </div>
    </div>
    <div class="text">
        <p>@Model.Title</p>
    </div>
</div>
