@model ServiceItemsViewModel

<div class="container-lg tab-item_@Model.Category @Model.IsActive">
    <div class="row">
        @foreach(var item in Model.Services)
        {
            
            <div class="col-12 col-lg-6 col-xl-4">
                <div class="card mb-5">
                    <img src="/Assets/images/loading.gif" data-src="/Assets/images/@(item.ImgUrl).jpg"
                            alt="@item.Title" class="lazyload">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Text</p>
                        @if (Model.Category == "enterprise")
                        {
                            <span class="coming-up">敬請期待</span>
                        }
                        else if (Model.Category == "comment")
                        {
                            <span><i class="fas fa-star color-yellow pr-1"></i>5</span>
                        }
                        else
                        {
                            <a href="@item.Url" class="btns rounded-circle more">
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        }
                    </div>
                </div>
            </div>

        }
    </div>
</div>