@model DataViewModel
@{
	ViewBag.Title = "結帳頁";
	CheckoutService _checkoutService = new CheckoutService();
}
@section CSS {
	<link rel="stylesheet" href="~/Assets/css/Checkout/Checkout.min.css">
}

<div class="container-all">
	<div class="row">
		<div class="col col-12">
			<div class="block block_progress">
				<div class="chart">
					<div class="barGroup">
						<div class="barFront"></div>
						<div class="barBack"></div>
					</div>
					<div class="numGroup">
						<div class="num on">1</div>
						<div class="num">2</div>
						<div class="num">3</div>
						<div class="num">4</div>
					</div>
				</div>
				<div class="text">
					<div class="stage-name">選擇<br>日期</div>
					<div class="stage-name">填寫<br>資料</div>
					<div class="stage-name">付款<br>確認</div>
					<div class="stage-name">預約<br>完成</div>
				</div>
			</div>
		</div>
		<div class="col col-12 col-md-5">
			<div class="block block_items">
				<div class="customer-info-box">
					<div class="df customer-info" id="service-date">
						<div class="key">
							<i class="icon fas fa-calendar-alt"></i>
						</div>
						<div class="value">選擇預約日期</div>
					</div>
					<div class="df customer-info" id="address">
						<div class="key">
							<i class="icon fas fa-thumbtack"></i>
						</div>
						<div class="value">選擇打掃地址</div>
					</div>
				</div>
				@{
					decimal total;
				}
				@if (Model.IsPackage) {
					<div id="favorite-name">@Model.Package.Name</div>
					<div class="item-box">
						@PackageProduct()
					</div>
					total = Model.Package.Price;
				} else {
					<div id="favorite-name">@Model.UserDefinedList[0].Name</div>
					<div class="item-box">
						@foreach (var item in Model.UserDefinedList) {
							@UserDefinedItem(item)
						}
					</div>
					total = Model.UserDefinedList.Select(x => x.Price).Sum();
				}
				<div class="coupon">
					<button data-toggle="modal" data-target="#modal_coupon">選擇優惠券</button>
					<span class="money">0</span>
				</div>
				<div class="total">
					<span class="key">總計</span>
					<span class="money">@Decimal.Round(total)</span>
				</div>
			</div>
		</div>
		<div class="col col-12 col-md-7">
			<main class="block block_main">
				<div id="pick-time" class="step pick-time on">
					<h5 class="title">選擇預約日期</h5>
					<div class="row_head">
						<div class="button-box">
							<button id="last-month" class="button disable" disabled>
								<i class="icon fas fa-angle-left"></i>
							</button>
						</div>
						<div class="time">
							<div class="month"></div>
							<div class="year"></div>
						</div>
						<div class="button-box">
							<button id="next-month" class="button">
								<i class="icon fas fa-angle-right"></i>
							</button>
						</div>
					</div>
					<div class="row_dayweek">
						<div class="day-name">日</div>
						<div class="day-name">一</div>
						<div class="day-name">二</div>
						<div class="day-name">三</div>
						<div class="day-name">四</div>
						<div class="day-name">五</div>
						<div class="day-name">六</div>
					</div>
					<div class="row_date" id="row_date"></div>
					<div class="row_time" id="row_time"></div>
				</div>
				<div id="fill-info" class="step fill-info">
					<form class="form">
						<div class="form_contact">
							<h5 class="sub-title">
								<i class="icon fas fa-phone"></i>聯絡資訊
							</h5>
							<div class="content">
								<div class="formGroup">
									<p class="key">姓名</p>
									<input id="input_name" class="value required" type="text" name="name" placeholder="王小明">
									<span class="warn"></span>
								</div>
								<div class="formGroup">
									<p class="key">手機</p>
									<input id="input_phone" class="value required only-num" type="text" name="phone" placeholder="0912345678" maxlength="10">
									<span class="warn"></span>
								</div>
								<div class="formGroup">
									<p class="key">Email</p>
									<input id="input_email" class="value required" type="email" name="email" placeholder="service@ucleaner.com">
									<span class="warn"></span>
								</div>
							</div>
						</div>
						<div class="form_address">
							<h5 class="sub-title">
								<i class="icon fas fa-map-marker-alt"></i>打掃地址
							</h5>
							<div class="content">
								<div class="formGroup">
									<select class="select" name="county" id="county-list">
										<option selected disabled>選擇城市</option>
									</select>
									<span class="warn"></span>
								</div>
								<div class="formGroup">
									<select class="select" name="district" id="district-list">
										<option selected disabled>選擇地區</option>
									</select>
									<span class="warn"></span>
								</div>
								<div class="formGroup">
									<input id="input_address" class="value required" type="text" name="address" placeholder="請填上正確的地址">
									<span class="warn"></span>
								</div>
							</div>
						</div>
						<div class="form_remark">
							<h5 class="sub-title">
								<i class="icon fas fa-comment-dots"></i>訂單備註
							</h5>
							<input class="value" id="remark" type="text" name="remark" placeholder="(非必填) 如有需要可留下備註、注意事項">
						</div>
					</form>
				</div>
				<div id="pay" class="step pay">
					<form class="form">
						<div class="form_method">
							<h5 class="sub-title">
								<i class="icon far fa-credit-card"></i>付款方式
							</h5>
							<div class="content">
								<div class="method-box">
									<input id="credit" type="radio" name="pay-method" data-i="0" data-inputs="ecpayInputs" checked>
									<label class="label" for="credit">
										<span class="type">
											綠界科技ECPay
											<span class="remind">
												(支援多種付款方式，稍後導向付款頁面)
											</span>
										</span>
									</label>
									<div class="pic">
										<svg viewBox="0 0 946.189 287.884">
											<use xlink:href="/Assets/images/ecpay.svg#ecpay_logo"></use>
										</svg>
									</div>
									@* <div class="method credit-method">
											<div class="prompt">
												填寫信用卡資訊
												<span class="tip" data-toggle="tooltip" data-placement="top" title data-original-title="本公司採用喬睿科技TapPay金流交易系統，消費者刷卡時直接在銀行端系統中交易，本公司不會留下您的信用卡資料，以保障你的權益，資料傳輸過程採用嚴密的SSL 2048bit加密技術保護。"></span>
												<img src="~/Assets/images/visa.png" alt="jcb">
												<img src="~/Assets/images/master.png" alt="master">
												<img src="~/Assets/images/jcb.png" alt="visa">
											</div>
											<div class="formGroup formGroup_num df">
												<div class="dfc">
													<p class="key">信用卡號碼</p>
													<input id="input_credit" class="value required only-num" type="text" name="credit-num" placeholder="XXXX XXXX XXXX XXXX" maxlength="19">
													<span class="warn"></span>
												</div>
												<div class="dfc">
													<p class="key">安全碼</p>
													<input id="input_security" class="value required only-num" type="text" name="security-code" placeholder="123" maxlength="3">
													<span class="warn"></span>
												</div>
											</div>
											<div class="formGroup">
												<p class="key">到期日</p>
												<div class="expire-box">
													<div class="dfc">
														<select id="input_expireM" class="select">
															<option class="first" disabled selected>月份</option>
															<option>01</option>
															<option>02</option>
															<option>03</option>
															<option>04</option>
															<option>05</option>
															<option>06</option>
															<option>07</option>
															<option>08</option>
															<option>09</option>
															<option>10</option>
															<option>11</option>
															<option>12</option>
														</select>
														<span class="warn"></span>
													</div>
													<div class="dfc">
														<select id="input_expireY" class="select">
															<option class="first" disabled selected>年</option>
														</select>
														<span class="warn"></span>
													</div>
												</div>
											</div>
										</div> *@
								</div>
								@* <div class="method-box">
										<input id="atm" type="radio" name="pay-method" data-i="1" data-inputs="atmInputs">
										<label class="label" for="atm">
											<span class="type">
												ATM轉帳
												<span class="remind">
													(請於一天內轉帳，訂單只保留一天)
												</span>
											</span>
										</label>
									</div> *@
							</div>
						</div>
						<div class="form_invoice">
							<h5 class="sub-title">
								<i class="icon fas fa-file-invoice-dollar"></i>發票選項
							</h5>
							<div class="content">
								<div class="my-dropdown" id="invoice-select">
									<label class="head-list" for="invoice-check" tabindex="-1">
										<input type="radio" name="invoice" id="personal" checked>
										<span class="head">個人電子發票</span>
										<input type="radio" name="invoice" id="donate">
										<span class="head">捐贈</span>
										<input type="checkbox" id="invoice-check" class="drop-list-check">
										<div class="drop-list">
											<label class="option" for="personal" data-index="0">個人電子發票</label>
											<label class="option" for="donate" data-index="1">捐贈</label>
										</div>
									</label>
								</div>
								<div class="caption">
									<p>由uCleaner自動為您兌獎，中獎後將主動通知您並掛號寄出紙本發票</p>
									<p>提醒您，個人電子發票一旦開立，不得任意更改或改開三聯式發票(統編)</p>
								</div>
								<div id="component">
									<div class="my-dropdown" id="donate-select">
										<label class="head-list" for="foundation-check" tabindex="-1">
											<input type="radio" name="foundation" id="donate-0" checked>
											<span class="head">中華民國唐氏症基金會</span>
											<input type="radio" name="foundation" id="donate-1">
											<span class="head">陽光社會福利基金會</span>
											<input type="radio" name="foundation" id="donate-2">
											<span class="head">台灣兒童暨家庭扶助基金會</span>
											<input type="checkbox" id="foundation-check" class="drop-list-check">
											<div class="drop-list">
												<label class="option" for="donate-0" data-index="0">
													中華民國唐氏症基金會
												</label>
												<label class="option" for="donate-1" data-index="1">
													陽光社會福利基金會
												</label>
												<label class="option" for="donate-2" data-index="2">
													台灣兒童暨家庭扶助基金會
												</label>
											</div>
										</label>
									</div>
								</div>
							</div>
						</div>
						<label class="rule" for="read">
							<input id="read" class="agree-check" type="checkbox">
							<span class="text">
								我已閱讀
								<a data-toggle="modal" data-target="#no-service-range">未清潔範圍</a> 、
								<a data-toggle="modal" data-target="#change-policy">取消或更改服務政策</a> 、
								@*<a data-toggle="modal" data-target="">服務條款</a>*@
								@* <a href="#">隱私權政策</a> *@
							</span>
							<div class="warn"></div>
						</label>
					</form>
				</div>
				<div id="done" class="step done">
					<div class="my-container">
						<div class="pic">
							@Html.Partial("PartialView/_LoadingPartial")
						</div>
						<div class="text">
							<div class="title">處理中</div>
							<p class="content">請勿關閉此頁面</p>
						</div>
					</div>
				</div>
				<div class="step-buttons">
					<button class="button disable" id="last-step" disabled>上一步</button>
					<button class="button" id="next-step">下一步</button>
				</div>
			</main>
		</div>
	</div>
</div>

<div class="modal fade" id="modal_coupon" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">選擇優惠券</h5>
			</div>
			<div class="modal-body">

			</div>
			<div class="button-box">
				<button class="clear">清空</button>
				<button class="ok">確認</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade extraInfo" id="no-service-range" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">非清潔服務範圍</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h6>基於清潔員安全、客戶隱私與其他考量，不進行以下服務:</h6>
				<p>移動或抬起超過10公斤的重物 (包括大型家具)</p>
				<p>可觸及範圍外的表面清潔 (包括天花板、高處窗戶)</p>
				<p>外窗清潔 (無危險性除外)</p>
				<p>寵物排泄及重度汙染區域清潔</p>
				<p>危險化學物質處理</p>
				<p>地毯深度清潔及清洗 (基本除塵除外)</p>
				<p>各式陳年、染色汙點清潔</p>
				<p>園藝或院子清潔</p>
				<p>車庫清潔 (基本掃除除外)</p>
				<p>除蟲害 (蜂窩、昆蟲...等等)</p>
				<p>窗簾、紗窗清洗</p>
				<p>垃圾清運工作</p>
				<p>室內惡臭環境</p>
			</div>
		</div>
	</div>
</div>

<div class="modal fade extraInfo" id="change-policy" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">取消或更改政策</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h6>如發生以下情況，需酌收服務手續費如下:</h6>
				<ol>
					<li>
						不論何時取消服務，若需退款則酌收5%手續費，退款金額為訂單費用減去5%後的金額。
					</li>
					<li>
						服務開始前一日18:00後或例假日前的工作日18:00後，取消或更改將酌收服務費用30%。
					</li>
					<li>
						已於開始服務時間後取消服務則酌收整體服務費用50%。
					</li>
					<p>For non-Chinese speaking users, we suggest you to be accompanied with someone who can speak Chinese on your booking date. We can’t assure that the service provider could speak English or other non-Chinese language. And you would still be charged for cancel fees as the same as mentioned above if you canceled it for language problem.</p>
					<p>定期價格也會因應過年期間或假日鐘點清潔費用之調漲，請隨時注意，若您預約該期間的服務，我們將會與您額外收取差額，如有不便敬請見諒。</p>
				</ol>
			</div>
		</div>
	</div>
</div>

@* hide form *@
<form action="https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5" id="ECPayForm" method="post" ref="form">
	<input type="hidden" name="CheckMacValue" value="" />
	<input type="hidden" name="ChoosePayment" value="" />
	@* <input type="hidden" name="ClientBackURL" value="" /> *@
	<input type="hidden" name="EncryptType" value="" />
	<input type="hidden" name="ItemName" value="" />
	<input type="hidden" name="MerchantID" value="" />
	<input type="hidden" name="MerchantTradeDate" value="" />
	<input type="hidden" name="MerchantTradeNo" value="" />
	<input type="hidden" name="OrderResultURL" value="" />
	<input type="hidden" name="PaymentType" value="" />
	<input type="hidden" name="ReturnURL" value="" />
	<input type="hidden" name="TotalAmount" value="" />
	<input type="hidden" name="TradeDesc" value="" />
</form>
@helper PackageProduct() {
	int?[] roomTypes = { Model.Package.RoomType, Model.Package.RoomType2, Model.Package.RoomType3 };
	int?[] squareFeetType = { Model.Package.Squarefeet, Model.Package.Squarefeet2, Model.Package.Squarefeet3 };
	<div class="item">
		@for (int i = 0; i < roomTypes.Length; i++) {
			if (roomTypes[i] == null) { break; }
			<div class="place">
				<span class="key">
					<i class="icon fas fa-house-user"></i>
				</span>
				<span class="value">
					@Model.RoomTypeList.First(x => x.Value == roomTypes[i]).Name
				</span>
				<span class="square-feet">
					(@String.Join(" ~ ", Model.SquareFeetList.First(x => x.Value == squareFeetType[i]).Name.Split('+', ',')))
				</span>
			</div>
		}
		<div class="service-type">
			<span class="key">
				<i class="icon fas fa-user-friends"></i>
			</span>
			<span class="value">
				@String.Join(" + ", Model.Package.ServiceItem.Split('+', ','))
			</span>
		</div>
		<div class="hours">
			<div class="key">
				<i class="icon fas fa-clock"></i>
			</div>
			<div class="value">
				<div class="num">@Model.Package.Hour</div>
				<div class="unit">hr</div>
				<div>x</div>
				<div class="num">500</div>
				<div class="unit">元/hr</div>
				<div class="subtotal">@Decimal.Round(Model.Package.Price)</div>
			</div>
		</div>
	</div>
}

@helper UserDefinedItem(UserDefinedProduct item) {
	<div class="item">
		<div class="place">
			<span class="key">
				<i class="icon fas fa-house-user"></i>
			</span>
			<span class="value">
				@Model.RoomTypeList.First(x => x.Value == item.RoomType).Name
			</span>
			<span class="square-feet">
				(@String.Join(" ~ ", Model.SquareFeetList.First(x => x.Value == item.Squarefeet).Name.Split('+', ',')))
			</span>
		</div>
		<div class="service-type">
			<span class="key">
				<i class="icon fas fa-user-friends"></i>
			</span>
			<span class="value">
				@String.Join(" + ", item.ServiceItems.Split('+', ','))
			</span>
		</div>
		<div class="hours">
			<div class="key">
				<i class="icon fas fa-clock"></i>
			</div>
			<div class="value">
				<div class="num">@item.Hour</div>
				<div class="unit">hr</div>
				<div>x</div>
				<div class="num">500</div>
				<div class="unit">元/hr</div>
				<div class="subtotal">@Decimal.Round(item.Price)</div>
			</div>
		</div>
	</div>
}

@section JS{
	<script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js" integrity="sha512-szJ5FSo9hEmXXe7b5AUVtn/WnL8a5VofnFeYC2i2z03uS2LhAch7ewNLbl5flsEmTTimMN0enBZg/3sQ+YOSzQ==" crossorigin="anonymous"></script>
	<script src="~/Assets/js/Checkout/all.js"></script>
}
