@model IEnumerable<CustomerService>
@{
    ViewBag.Title = "客服問題集";
    Layout = null;
}
<style>
    table {
        text-align: center;
    }

    a {
        color: #fff !important;
    }

        a:hover {
            text-decoration: none !important;
        }

    .read {
        background: #279a34;
    }

        .read:hover {
            background: #1a6723;
        }

    .unread {
        background: #ff0000;
    }

        .unread:hover {
            background: #9b0909;
        }
</style>
@Styles.Render("~/Content/css")

<section class="container-lg" style="margin:150px auto 300px;">
    <h1 class="mt-5 mb-3">客服問題集</h1>
    @if (Model.Count() == 0)
    {
        <p>目前無任何資料</p>
    }
    else
    {
        <table class="table">
            <tr class="thead-dark">
                <th>
                    @Html.DisplayNameFor(model => model.CustomerServiceId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsRead)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateTime)
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerServiceId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    @DisplayCategory(item.Category)
                    @DisplayReadState(item.IsRead, item.CustomerServiceId)
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateTime)
                    </td>
                </tr>
            }
        </table>
    }
</section>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")


@helper DisplayCategory(int category)
{
    if (category == 1)
    {
        <td>儲值問題</td>
    }
    else if (category == 2)
    {
        <td>諮詢問題</td>
    }
    else
    {
        <td>客訴問題</td>
    }
}
@helper DisplayReadState(bool isRead, Guid id)
{
    if (isRead)
    {
        <td class="read">@Html.ActionLink("已讀", "ShowDetail", new { id = id, })</td>
    }
    else
    {
        <td class="unread">@Html.ActionLink("未讀", "ShowDetail", new { id = id })</td>
    }
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")